<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConsultaCFDIService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IConsultaCFDIService1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="ZWS_UPROVEEDORES">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="ZWS_UPROVEEDORES_soap12">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaCFDIService"
                contract="IConsultaCFDIService" name="BasicHttpBinding_IConsultaCFDIService" />
            <endpoint address="https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaCFDIService1"
                contract="SrvSATConsultaCFDI.IConsultaCFDIService" name="BasicHttpBinding_IConsultaCFDIService1" />
            <endpoint address="http://Devawssc01.sicsa.proatech.mx:8000/sap/bc/srt/rfc/sap/zws_uproveedores/100/zws_uproveedores/zws_uproveedores"
                binding="customBinding" bindingConfiguration="ZWS_UPROVEEDORES"
                contract="SrvSAPUProv.ZWS_UPROVEEDORES" name="ZWS_UPROVEEDORES" />
            <endpoint address="http://Devawssc01.sicsa.proatech.mx:8000/sap/bc/srt/rfc/sap/zws_uproveedores/100/zws_uproveedores/zws_uproveedores"
                binding="customBinding" bindingConfiguration="ZWS_UPROVEEDORES_soap12"
                contract="SrvSAPUProv.ZWS_UPROVEEDORES" name="ZWS_UPROVEEDORES_soap12" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
